
body {
    font-family: "Lato", sans-serif;  
  }
  
form {    
     width:800px;
     padding-left: 27rem;    
}

  header {
    background-color: black;
    color: white;
    text-align: center;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
  }
  
  .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 600px;
    top: 8px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-top: 2rem;
  }
  
  .sidepanel a:hover {
      color: #f1f1f1;
    }
    
    .sidepanel .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
    }
    
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      padding: 10px 15px;
      border: none;
      top: 20px;
      right: 20px;
      position: fixed;
    }
    
    .openbtn:hover {
      background-color:#444;
    }

    hr {
        border: 5px solid black; 
        width: 1700px;
        bottom: 300px;
        position: fixed;
     }

     #filmInformation {
        width: 800px;
        height: 575px;
        position:fixed;
        text-align: center;
        background-color: cornflowerblue;
     }